{% extends "base.html" %}

{% block title %} Flask Mini-CMS | Posts {% endblock %}

{% block content %}

    <div class="column">
        <h3 class="title">Posts</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-{{ messages[1] }}">
                        <button class="delete"></button>
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}
            
            <div class="mb-2">
                <form action="/posts" method="get" autocomplete="off">
                    <div class="field is-flex">
                        <p class="control has-icons-left" style="flex: 1 1 0%">
                            <input class="input" type="text" name="f" id="f" autofocus="true">
                            <span class="icon is-small is-left">
                                <i data-eva="search-outline" data-eva-fill="#222" data-eva-animation="flip"></i>
                            </span>
                        </p>
                        <button class="button is-info ml-2">Search</button>
                    </div>
                </form>    
            </div>
            
            {% if search_txt %}
                <div class="has-text-left mb-2">Searching: <strong>{{ search_txt }}</strong></div>
            {% endif %}
            
            <div class="table-wrapper">
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <th class="has-text-left"><abbr title="Name">Name</abbr></th>
                        <th class="has-text-right"><abbr title="Actions">
                            <a href="{{ url_for('posts.new_post') }}" class="mb-2 ml-auto">
                                <button class="button is-primary is-small">Add</button>
                            </a>
                        </abbr></th>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <div class="buttons has-addons is-centered">
                                    <a href="{{ url_for('main.posts', page=collection.prev_num) }}" class="button"
                                    {% if collection.page == 1 %}disabled{% endif %}>
                                        Prev
                                    </a>
                                    <a href="{{ url_for('main.posts', page=collection.next_num) }}" class="button"
                                    {% if collection.page == collection.pages or collection.pages == 0 %}disabled{% endif %}>
                                        Next
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    {% if collection.pages == 0 %}
                        <div class="subtitle mt-2 has-text-dark">No posts found.</div>
                    {% endif %}
                    <tbody>
                        {% for i in collection.items %}
                            <tr>
                                <td class="has-text-left v-align-middle">
                                    {% if not i.published %}
                                        <span class="tag is-danger mr-2">Draft</span>
                                    {% else %}
                                        <span class="tag is-success mr-2">Published</span>
                                    {% endif %}
                                    {{ i.shorter_name }}
                                </td>
                                <td class="has-text-right v-align-middle" style="min-width: 8rem;">
                                    <span class="pointer edit_cat_btn">
                                        <a href="{{ url_for('posts.edit_post',id=i.id) }}">
                                            <i data-eva="edit-outline" data-eva-fill="#36f" data-eva-animation="flip"></i>
                                        </a>
                                    </span>
                                    <a href="{{ url_for('posts.dpost', id=i.id) }}">
                                        <i data-eva="trash-outline" data-eva-fill="#f14668" data-eva-animation="flip"></i>
                                    </a>
                                </td> 
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}